body {
  background-image: url("../assets/images/background.jpg");
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 2px hsl(0, 0%, 0%);
}

h1, h3, h4, button {
  margin-top: 20px;
}

h2 {
  margin-bottom: 60px;
}

hr {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  height: 1px;
}

#galacticAge, #lifeExpectancyResult, #seeAllLink {
  margin-left: 60px;
  padding: 20px;
  background-color: hsl(0, 0%, 25%, 0.5);
}

#seeAllLink {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
 }
 
 #seeAllLink:hover {
   text-decoration: underline;
 }

#results, #seeAllLink, #statsTable {
  display: none;
}

table, th, td {
  border: 1px solid hsl(0, 0%, 100%);
  border-collapse: collapse;
  background-color: hsl(0, 0%, 25%, 0.5);
}

th, td {
  width: 25%;
  padding: 4px;
}

table#statsTable {
  margin-left: 60px;
  margin-right: auto;
}